
.header{
position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 0px;
background: #20382F;
}
img{
    position: absolute;
width: 91px;
height: 36px;
left: 20px;
top: 12px;

}
.addIcon{
position: absolute;
right: 8%;
top: 32.5%;
bottom: 32.5%;
color: white;
width:16px;
 height:16px;
  fill:white;
}
.profile{
    position: absolute;

right: 6%;
top: 30%;
bottom: 30%;
color: #ffffff;
fill: white;
height: 16px;
width: 16px;
border-radius: 0px;

}